# Namespace and name
export NAMESPACE=codefly
export APP_NAME=postgres

# Image
export IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/postgres:16.13-alpine3.23

# Storage
export STORAGE_CLASS=nfs
export STORAGE_SIZE=20Gi
export ACCESS_MODE=ReadWriteOnce

# Database init settings
export POSTGRES_DB=codefly
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD='change-me'

# Runtime
export TZ=Asia/Shanghai

# Resources
export CPU_REQUEST=100m
export MEMORY_REQUEST=256Mi
export CPU_LIMIT=2
export MEMORY_LIMIT=2Gi

# Optional NodePort
export ENABLE_NODEPORT=true
export NODE_PORT=30432
